@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.invoice-card {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 10px 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 25em;
  width: 22em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.15);
}

.invoice-card > div {
  margin: 5px 0;
}

.invoice-title {
  flex: 3;
}

.invoice-title #date,
.invoice-title #customer-name,
.invoice-title #customer-address,
.invoice-footer #footer-details {
  display: block;
  margin: 8px 0;
  font-size: 12px;
  text-transform: capitalize;
}

.invoice-title #main-title {
    text-align: center;
  justify-content: space-between;
}

.invoice-title #main-title h4 {
    width: 100%;
    letter-spacing: 1px;
}

.invoice-title span,
.invoice-footer #footer-details {
  color: rgba(0, 0, 0, 0.4);
}

.invoice-details {
  flex: 1;
  border-top: 0.5px dashed grey;
  border-bottom: 0.5px dashed grey;
  display: flex;
  align-items: center;
}
.invoice-details .invoice-table .calc-row {
    border-top: 0.5px dashed grey;
}
.invoice-footer #signature {
    border-top: 0.5px dashed grey;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
}

.invoice-table thead tr td {
  font-size: 12px;
  letter-spacing: 1px;
  color: grey;
  padding: 8px 0;
}

.invoice-table thead tr td:nth-last-child(1),
.row-data td:nth-last-child(1),
.calc-row td:nth-last-child(1)
{
  text-align: left;
}

.invoice-table tbody tr td {
    padding: 8px 0;
    letter-spacing: 0;
}

.invoice-table .row-data #unit {
  text-align: center;
}

.invoice-table .row-data span {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
.invoice-footer #signature{
    float: right;
}
.invoice-footer #footer-details {
    text-align: center;
    padding-bottom: 30px;
}

/* Search filter */
.datepicker-inline {
  border: 1px solid #efefef;
  box-shadow: 0px 6px 10px #f7f7f7;
  margin: 10px auto 0;
  border-radius: 2px;
}

.today,
.clear,
.datepicker-switch,
.day,
.month {
  transition: ease-out 0.3s;
}
.today:hover,
.clear:hover,
.datepicker-switch:hover,
.day:hover,
.month:hover {
  transition: ease-in 0.3s;
}

.datepicker-days,
.datepicker-months,
.datepicker-years,
.datepicker-decades,
.datepicker-centuries {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#datepicker1 .badge,
#datepicker2 .badge {
  margin: 0 6px 10px;
}

/* admin order form */
.form-box{
  border:1px solid #c1c1c1;
  color:#5cb55c;
}
/*admin gallery*/
div.galleries_container {
    padding: 10px 5px;
}
div.galleries_container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
div.galleries_container .row .galleries {
    height: inherit;
    width: inherit;
}
div.galleries_container .row .galleries .figure_galleries {
    height: 250px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(182, 173, 173, 0.5);
    margin-bottom: 10px;
}
div.galleries_container .row .galleries .figure_galleries img {
    height: 250px;
    width: 300px;
    padding: 10px;
    object-fit: cover;
}
div.galleries_container .row .galleries form input[type="submit"] {
    margin-bottom: 20px;
}

.content-header h1 {
    text-align: center;
    margin-bottom: 10px;
}
