@import url("https://fonts.googleapis.com/css2?family=Lobster:wght@400;700&family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 100;
    color: #fff;
    transition: all 0.5s linear;
}

nav span.menu {
    display: none;
}

/*sticky navbar*/
nav.sticky {
    height: 60px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

nav.sticky a,
nav.sticky .logo h1 a {
    color: #000;
}

/*sticky navbar end*/
nav .logo {
    /* width: 30%; */
    margin-right: 15%;
}

nav .logo h1 {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Lobster", cursive;
    font-weight: 300;
}
nav .logo h1 a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    /* width: 50%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav ul li a {
    display: inline-block;
    text-decoration: none !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 1rem !important;
    padding: 0px 30px;
    font-weight: 400 !important;
    color: #fff;
    text-align: center !important;
    transition: 0.3s ease;
}

nav ul li a:hover {
    cursor: pointer;
    opacity: 0.7;
    color: orangered;
}

nav ul li a.active {
    border-bottom: 3px solid orangered;
    cursor: pointer;
}

nav i {
    /* width: 20%; */
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

nav.sticky i {
    color: #000;
}

.sticky {
    color: #000;
}

main {
    padding: 0;
    margin: 0;
}

#banner {
    height: 100vh;
    width: 100%;
}

#banner .swiper-container {
    height: 100vh;
    width: 100%;
}

#banner .swiper-container .swiper-slide .bg {
    background: url("images/showcase.jpg"), no-repeat;
    height: inherit;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#banner .swiper-container .swiper-slide .bg-1 {
    background: url("images/showcase-1.jpg"), no-repeat;
    height: inherit;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#banner .swiper-container .swiper-slide .bg .bg-shadow {
    background: rgba(0, 0, 0, 0.5);
    height: inherit;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#banner .swiper-container .swiper-slide .bg .bg-shadow .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#banner .swiper-container .swiper-slide .bg .bg-shadow .info h2 {
    font-size: 2.5rem;
    font-family: "Lobster", cursive;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
}

#banner .swiper-container .swiper-slide .bg .bg-shadow .info p {
    font-size: 1.28rem;
    font-weight: normal;
    padding: 10px 0px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
}

#banner .swiper-container .swiper-slide .bg .bg-shadow .info a {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    color: orangered;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.4s;
}
#banner .swiper-container .swiper-slide .bg .bg-shadow .info a:hover {
    cursor: pointer;
    background-color: orangered;
    color: #fff;
}

#menu {
    height: 100%;
    width: 100%;
}

#menu .container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
#menu .container .restaurent {
    width: 50%;
    height: 100%;
}

#menu .container .restaurent .bg {
    height: 400px;
    width: 100%;
    background: url(images/foods.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

#menu .container .restaurent .bg-shadow {
    background: rgba(0, 0, 0, 0.3);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu .container .restaurent .bg-shadow .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#menu .container .restaurent .bg-shadow .items h1 {
    font-size: 2.3rem;
    font-weight: 400;
    font-family: "Lobster two", cursive;
    padding: 10px 0px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

#menu .container .restaurent .bg-shadow .items a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 40px;
    transition: 0.3s;
    letter-spacing: 1px;
}
#menu .container .restaurent .bg-shadow .items a:hover {
    cursor: pointer;
    background-color: orangered;
    color: #fff;
}

#menu .container .bakery {
    width: 50%;
    height: 100%;
}

#menu .container .bakery .bg {
    height: 400px;
    width: 100%;
    background: url(images/delicious.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

#menu .container .bakery .bg-shadow {
    background: rgba(0, 0, 0, 0.3);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu .container .bakery .bg-shadow .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu .container .bakery .bg-shadow .items h1 {
    font-size: 2.3rem;
    font-weight: 400;
    font-family: "Lobster two", cursive;
    padding: 10px 0px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

#menu .container .bakery .bg-shadow .items a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 40px;
    transition: 0.3s;
    letter-spacing: 1px;
    transition: 0.3s;
}
#menu .container .bakery .bg-shadow .items a:hover {
    cursor: pointer;
    background-color: orangered;
    color: #fff;
}

/* #product {
    height: auto;
    width: 100%;
    background-color: #fdf8f1;
}

#product h1 {
    font-family: "Open Sans", sans-serif;
    padding-top: 20px;
    text-align: center;
    font-size: 2rem;
}
#product h1 span {
    border: none;
    border-bottom: 3px solid orangered;
}

#product .product-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 30px;
    padding-bottom: 50px;
}

#product .product-container img {
    height: 300px;
    width: 300px;
    padding: 10px 15px 0px 15px;
}

#product .product-container .product-info {
    height: 380px;
    width: 300px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-top: 40px;
    position: relative;
}

#product .product-container .product-info h4 {
    text-align: center;
    font-size: 1rem;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
}

#product .product-container .product-info p {
    text-align: center;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    padding-top: 10px;
    font-weight: 700;
}
#product .product-info p {
    font-size: 1rem;
}

#product .product-info .overlay {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(231, 216, 216, 0.4);
}

#product .product-info .overlay .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#product .product-info .overlay .buttons a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 30px;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    margin-bottom: 20px;
    line-height: 55px;
    border-radius: 50px;
    transition: all 0.6s ease;
}

#product .product-info .overlay .buttons a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#product .product-info .overlay {
    transition: all 0.6s ease;
    opacity: 0;
}
#product .product-info .overlay:hover {
    opacity: 1;
    cursor: pointer;
} */

#purchase {
    height: auto;
    width: 100%;
}

#purchase .bg {
    background: url("images/pie.jpg"), no-repeat;
    background-position: left;
    height: 250px;
    width: 100%;
    background-size: cover;
}

#purchase .bg-shadow {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    color: #fff;
}
#purchase .bg-shadow .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#purchase .bg-shadow .content h1 {
    font-family: "Lobster two", cursive;
    font-size: 2.3rem;
    font-weight: normal;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#purchase .bg-shadow .content a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    padding: 8px 20px;
    background-color: #fff;
    border-radius: 40px;
    transition: 0.3s;
    letter-spacing: 1px;
    transition: 0.3s;
}

#purchase .bg-shadow .content a:hover {
    background-color: orangered;
    cursor: pointer;
    color: #fff;
}

#contact {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

#contact h1 {
    width: 400px;
    font-size: 2rem;
    padding: 10px 0px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 300;
}

#contact .contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
}

#contact .contacts form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

#contact .contacts form input[type="text"],
#contact .contacts form input[type="email"] {
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    font-size: 1rem;
    border-bottom: 1.5px solid #000;
    margin-left: 50px;
    padding: 10px;
}
#contact .contacts form input[type="text"]:focus,
#contact .contacts form input[type="email"]:focus {
    border: 1px solid #000;
}

#contact .contacts form input[type="submit"] {
    height: 40px;
    width: 150px;
    font-size: 1rem;
    border: none;
    margin-left: 50px;
    outline: none;
    color: #fff;
    transition: all 0.5s;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.3s;
    background-color: orangered;
}

#contact .contacts form input[type="submit"]:hover {
    background-color: orangered;
    color: #fff;
    cursor: pointer;
    opacity: 0.7;
}

footer {
    height: auto;
    width: 100%;
    background: #112;
    color: #fdf8f1;
    font-family: "Open Sans", sans-serif;
    padding: 10px 0px;
}

footer .about {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 10px;
}

footer .about .about-container {
    width: 30%;
    padding-left: 0px;
}

footer .about .about-container h1 {
    font-size: 1.1rem;
    padding: 10px 0px;
    font-weight: 600;
    font-family: "Lobster two", cursive;
}

footer .about .about-container p {
    font-size: 1rem;
    width: 350px;
    font-weight: 500;
}

footer .about .links {
    width: 20%;
}

footer .about .links h1 {
    font-size: 1.1rem;
    padding: 10px 0px;
    font-weight: 500;
}

footer .about .links a {
    display: block;
    text-decoration: none;
    padding: 5px 0px;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.5px;
}

footer .about .touch {
    width: 20%;
}

footer .about .touch h1 {
    font-size: 1.1rem;
    padding: 5px 0px;
    font-weight: 500;
}

footer .about .touch i {
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding-top: 5px;
}

footer .about .touch span {
    font-size: 1rem;
    padding-left: 15px;
    font-weight: 500;
}

footer h3 {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 10px 0px;
    text-transform: uppercase;
}

/*about us section*/

#about-us {
    position: relative;
}

#about-us .about .about-img img {
    width: 100%;
    object-fit: cover;
}
#about-us .bg {
    height: 300px;
    width: 100%;
    background: url("images/cake1.jpg"), no-repeat;
    background-size: cover;
}

#about-us .bg .bg-shadow {
    background: rgba(0, 0, 0, 0.3);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

#about-us .bg .bg-shadow .heading h1 {
    font-size: 2.5rem;
    margin-top: 10px;
    color: #fff;
    font-weight: lighter;
}

#about-us .bg .bg-shadow .heading p {
    font-size: 1.5rem;
    color: #fff;
}

#about-us .about {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    padding: 10px 40px;
}
#about-us .about .about-container {
    width: 50%;
}

#about-us .about .about-container h2 {
    font-size: 2rem;
    font-family: "Lobster Two", cursive;
    padding-left: 30px;
    padding-top: 20px;
}

#about-us .about .about-container p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 30px;
}

#remember {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
}

#remember .heading h1 {
    font-size: 2rem;
    padding-top: 10px;
    text-align: center;
    font-family: "Lobster Two", cursive;
}

#remember .heading p {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 10px;
}

#remember .remember-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    width: 100%;
}

#remember .remember-container img {
    height: 300px;
    width: 350px;
    padding: 10px 10px 0px 10px;
}

#remember .remember-container .product {
    margin-top: 20px;
    margin-left: 30px;
    height: 350px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(182, 173, 173, 0.5);
}

#remember .remember-container .product h4 {
    font-size: 1.2rem;
    text-align: center;
    color: #000;
    letter-spacing: 0.5px;
    font-weight: 400;
}

/*end of about section*/

/*shop section*/

#shop {
    padding-bottom: 20px;
}

#shop .options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0px;
    flex-wrap: wrap;
}

#shop .options li {
    list-style-type: none;
}

#shop .options li a {
    text-decoration: none;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #000;
    padding: 8px 20px;
    margin-left: 20px;
    box-shadow: 5px 4px 10px rgb(97, 94, 94);
    border-radius: 50px;
}
#shop .bg {
    height: 300px;
    width: 100%;
    background: url("images/cake1.jpg"), no-repeat;
    background-size: cover;
}

#shop .bg .bg-shadow {
    background: rgba(0, 0, 0, 0.3);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

#shop .bg .bg-shadow .heading h1 {
    font-size: 2.3rem;
    margin-top: 10px;
    color: #fff;
    font-weight: lighter;
    text-align: center;
}

#shop .bg .bg-shadow .heading p {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

#shop .shop-container {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

#shop .shop-container img {
    height: 200px;
    width: 250px;
    padding: 8px 8px 0px 8px;
}

#shop .shop-container .product {
    margin-top: 20px;
    margin-left: 30px;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(182, 173, 173, 0.5);
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#shop .shop-container .product h4 {
    font-size: 1.1rem;
    text-align: center;
    padding: 5px 0px;
    font-weight: 400;
    letter-spacing: 0.8px;
}

#shop .shop-container .product p {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}

#shop .shop-container .product a {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    padding: 8px 20px;
    background-color: orangered;
    color: #fff;
    display: block;
    transition: all 0.5s;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

#shop .shop-container .product a:hover {
    background-color: #000;
    cursor: pointer;
}
p.blank_data {
    height: 250px;
    font-family: Sans-Serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 250px;
}

#shop .options li:hover a,
#shop .options li a.active {
    background: #b7721e;
    color: white;
}

/*Check out*/
#order {
    height: auto;
    width: 100%;
}
#order .bg {
    height: 300px;
    width: 100%;
    background: url("images/desk.jpg"), no-repeat;
    background-size: cover;
}

#order .bg .bg-shadow {
    background: rgba(0, 0, 0, 0.3);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

#order .bg .bg-shadow .heading h1 {
    font-size: 2.3rem;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    padding: 0;
}

#order .bg .bg-shadow .heading p {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

#order .order-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px 0px;
}
#order .order-form .bakery-items {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    flex-wrap: wrap;
}

#order h1 {
    padding: 10px 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#order h1 span {
    border-bottom: 2px solid orangered;
}

#order .order-form form input[type="text"],
#order .order-form form input[type="email"],
#order .order-form form input[type="number"] {
    height: 30px;
    width: 250px;
    margin-bottom: 10px;
    outline: none;
    padding: 0px 5px;
}
#order .order-form form {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 700px;
    flex-wrap: wrap;
    gap: 20px;
    font-family: "Open Sans", sans-serif;
}
#order .order-form .pickup {
    width: 100%;
    text-align: center;
}

#order .order-form .pickup span {
    font-weight: 300;
    letter-spacing: 0.5px;
}

#order .order-form form label {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 2px;
}

#order .order-form form select,
#order .order-form form option {
    height: 30px;
    outline: none;
}

#order .order-form form input[type="submit"],
#order .order-form form input[type="reset"] {
    height: 40px;
    width: 150px;
    outline: none;
    font-style: 1rem;
    margin-left: 10px;
    border-radius: 10px;
}
#order .order-form form input[type="submit"] {
    border: none;
    background-color: orangered;
    transition: 0.4s;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1rem;
}
#order .order-form form input[type="reset"] {
    border: none;
    background-color: red;
    transition: 0.4s;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1rem;
}
#order .order-form form input[type="submit"]:hover,
#order .order-form form input[type="reset"]:hover {
    cursor: pointer;
    opacity: 0.7;
}

#order .order-form form input[type="radio"] {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 300;
}

#order .order-form form input[type="submit"]:hover,
#order .order-form form input[type="reset"]:hover {
    cursor: pointer;
}
#order .order-form form .table table {
    font-family: "Open Sans", sans-serif;
    border-collapse: collapse;
}

#order .order-form form .table th {
    /* background-color: #112; */
    background-color: rgba(255, 69, 0, 0.8);
    color: #fff;
}
#order .order-form form .table tbody {
    background-color: #eee;
}
#order .order-form form .table tr {
    height: 40px;
}
#order .order-form form .table th {
    font-weight: 300;
}
#order .order-form form .table td {
    padding: 10px 30px;
    font-size: 16px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: none;
    border-left: none;
    font-weight: 400;
    text-align: center;
    font-weight: 400;
}
#order .order-form form .table .editing {
    padding: 8px 20px;
    text-decoration: none;
    background-color: green;
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    margin-right: 10px;
    opacity: 0.7;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}

/* cart */
.grid-container {
    margin: 10px 0px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: "table-box table-box" "cart-box .";
}

.table-box {
    grid-area: table-box;
    justify-self: center;
    align-self: center;
}
.cart {
    padding: 10px 20px;
    box-shadow: 0px 0px 5px 0px rgba(190, 199, 200, 0.7);
    grid-area: cart-box;
    height: auto;
    justify-self: end;
    margin-right: 80px;
    background-color: white;
}

table {
    font-family: "Open Sans", sans-serif;
    border-collapse: collapse;
}
thead {
    /* background-color: #112; */
    background-color: rgba(255, 69, 0, 0.8);
    color: #fff;
}
tbody {
    background-color: #eee;
}
tr {
    height: 40px;
}
td {
    padding: 10px 30px;
    font-size: 16px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: none;
    border-left: none;
    font-weight: 400;
}

input[type="number"] {
    height: 30px;
    width: 50px;
}

.remove {
    height: 30px;
    width: 80px;
    background-color: red;
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    margin-right: 10px;
    opacity: 0.7;
    border-radius: 8px;
}
.remove:hover {
    cursor: pointer;
    opacity: 1;
}
.change {
    height: 30px;
    width: 80px;
    background-color: green;
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    margin-right: 10px;
    opacity: 0.7;
    border-radius: 8px;
}

.change:hover {
    opacity: 1;
    cursor: pointer;
}

.checkout {
    height: 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: orangered;
    transition: 0.4s;
}

.checkout:hover {
    opacity: 0.8;
    cursor: pointer;
}
.checkout a {
    text-decoration: none;
    color: white;
}
.cart_box {
    padding-right: 30px;
    font-family: "Open Sans", sans-serif;
}

.cart_box p {
    margin: 8px 0px;
}
.cart_box h1 {
    font-weight: 500;
}

/* gallery*/
#shop div.galleries_container {
    padding: 10px 5px;
}
#shop div.galleries_container .row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#shop div.galleries_container .row .galleries .figure_galleries {
    height: 250px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(182, 173, 173, 0.5);
    position: relative;
}
#shop div.galleries_container .row .galleries .figure_galleries img {
    height: 250px;
    width: 300px;
    padding: 10px;
    object-fit: cover;
}
#shop div.galleries_container .row .galleries .figure_galleries a {
    display: block;
}
#shop div.galleries_container .row .galleries .figure_galleries a span.close {
    position: absolute;
    font-size: 1.25rem;
    top: 0;
    left: 0;
    color: red;
    display: block;
}

/*checkout edit*/
#about-us .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-us .container .row {
    padding: 10px 30px;
    box-shadow: 0px 0px 10px rgba(182, 173, 173, 0.5);
}
#about-us .container .row div.cards {
    display: flex;
    gap: 30px;
}
#about-us .container .row div.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#about-us .container .row div.card_payment {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
}
#about-us .container .row a.checkpay {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 69, 0, 0.8);
    padding: 8px 0px;
    font-family: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
}
#about-us .container .row button[type="submit"] {
    height: 30px;
    width: 80px;
    border: none;
    outline: none;
}
#about-us .container .row .changes {
    background-color: green;
    color: #fff;
    border-radius: 10px;
}
#about-us .container .row .removes {
    background-color: red;
    color: #fff;
    border-radius: 10px;
}
#about-us .container .row .changes:hover,
#about-us .container .row .removes:hover,
#about-us .container .row a.checkpay:hover {
    cursor: pointer;
    opacity: 0.8;
}

/*media queries*/
@media (max-width: 991px) {
    nav {
        display: flex;
        /* justify-content: space-evenly; */
        align-items: center;
    }
    nav .logo {
        margin-right: 0;
    }
    nav ul {
        display: block;
        position: fixed;
        top: -160px;
        left: 0px;
        text-align: center;
        transform: translateY(-50%);
        background-color: #fff;
        color: #000;
        width: 100%;
        height: auto;
        padding: 20px;
        transition: all 0.8s;
        z-index: 100;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }
    nav .opens {
        top: 200px;
    }

    nav ul li a {
        color: #000;
        line-height: 40px;
    }

    nav span.menu {
        display: block;

        cursor: pointer;
    }

    #about-us .about {
        flex-direction: column;
        padding: 10px 40px;
    }
    #about-us .about .about-container {
        width: 100%;
    }
    #about-us .about .about-container p {
        padding: 10px 0px;
    }
    #about-us .about .about-container h2 {
        padding-left: 0px;
    }
    #menu .container {
        display: flex;
        flex-direction: column;
    }

    #menu .container .restaurent,
    #menu .container .bakery {
        width: 100%;
    }

    #product .product-container {
        padding: 10px 0px;
        display: flex;
        justify-content: center;
    }
    #contacts {
        padding: 0px 10px;
    }

    #contact h1 {
        width: 250px;
    }

    #contact .contacts form input[type="text"],
    #contact .contacts form input[type="email"],
    #contact .contacts form input[type="submit"] {
        margin-left: 20px;
    }
    .grid-container {
        grid-template-areas: "table-box table-box" "cart-box cart-box";
    }
    .cart {
        box-shadow: 0px 0px 10px #ccc;
        margin-top: 10px;
    }
    footer .about .about-container p {
        width: auto;
    }
}

@media (max-width: 768px) {
    #contact {
        padding: 20px 0px;
    }
    #contact .contacts,
    #contact .contacts form {
        flex-direction: column;
    }
    #contact .contacts form input[type="submit"] {
        margin-top: 20px;
    }
    #remember .remember-container .product {
        height: 300px;
        width: 300px;
    }
    #remember .remember-container img {
        height: 250px;
        width: 300px;
    }
    footer .about .about-container {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    footer .about .about-container p {
        width: 100%;
        padding: 0px 20px;
    }
    footer .about .links {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
    }
    footer .about .links a {
        display: inline-block;
        padding: 0px 20px;
    }
    footer .about .touch {
        width: 100%;
        text-align: center;
    }

    td {
        padding: 8px 10px;
        font-size: 18px;
    }
    .change,
    .remove {
        width: 80px;
        margin-right: 5px;
    }
    td.buttons {
        display: flex;
        gap: 2px;
        border-bottom: none;
    }
    .cart {
        justify-self: end;
    }

    /*checkout*/
    #order .order-form {
        flex-direction: column;
    }
    #order .order-form form {
        flex-direction: column;
        width: 550px;
        padding: 0px 20px;
    }
    #order .order-form form > div {
        width: 100%;
    }
    #order .order-form form input[type="text"],
    #order .order-form form input[type="email"],
    #order .order-form form input[type="number"] {
        width: 100%;
    }
    #order .order-form form > div.buttons {
        text-align: center;
    }
}

@media (max-width: 600px) {
    #banner .swiper-container .swiper-slide .bg .bg-shadow .info h2 {
        font-size: 2rem;
    }
    #banner .swiper-container .swiper-slide .bg .bg-shadow .info p {
        text-align: center;
        font-size: 1.2rem;
    }
    #menu .container .restaurent .bg-shadow .items h1 {
        font-size: 2rem;
    }
    #about-us .about {
        padding: 10px 20px;
    }
    .cart {
        justify-self: end;
        margin-right: 40px;
    }
    td {
        padding: 8px 10px;
        font-size: 16px;
    }
    .change,
    .remove {
        width: 80px;
        margin-right: 5px;
    }
    td.buttons {
        display: flex;
        gap: 2px;
        border-bottom: none;
    }

    #order .order-form form .table th {
        /* background-color: #112; */
        background-color: rgba(255, 69, 0, 0.8);
        color: #fff;
    }

    #order .order-form form {
        width: 500px;
    }
    #order .order-form form .table table {
        width: 100%;
    }
    #order .order-form form .table th {
        font-weight: 300;
    }
    #order .order-form form .table td {
        padding: 8px 10px;
        font-size: 14px;
        font-weight: 400;
    }

    #order .order-form form input[type="submit"],
    #order .order-form form input[type="reset"] {
        width: 120px;
    }
}

@media (max-width: 520px) {
    .grid-container {
        grid-template-areas: "table-box" "cart-box";
        padding: 0px 20px;
    }
    .cart {
        justify-self: center;

        padding: 0px 20px;
    }
    .cart_box {
        padding: 10px 0px;
    }
    .checkout {
        font-size: 16px;
    }
    .cart_box h1 {
        font-size: 16px;
    }
    td {
        padding: 8px 10px;
        font-size: 14px;
    }
    .change,
    .remove {
        width: 80px;
        margin-right: 5px;
    }
    td.buttons {
        display: flex;
        gap: 2px;
        border-bottom: none;
    }
}

/* gallery */
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: "Droid Sans", sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media (max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

@media (max-width: 480px) {
    nav {
        justify-content: space-evenly;
        align-items: center;
    }
    nav .logo h1 {
        font-size: 1.32rem;
    }
    #banner .swiper-container .swiper-slide .bg .bg-shadow .info h2 {
        font-size: 1.5rem;
    }
    #banner .swiper-container .swiper-slide .bg .bg-shadow .info p {
        font-size: 1rem;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
    #contact .contacts form input[type="submit"] {
        margin-bottom: 20px;
        margin-top: 0px;
    }
    footer .about .links a {
        padding: 0px 10px;
    }
    #about-us .bg,
    #about-us .bg .bg-shadow {
        height: 250px;
    }
    #about-us .bg .bg-shadow .heading h1 {
        font-size: 2rem;
        text-align: center;
    }
    #about-us .about {
        margin-top: 10px;
    }
    #about-us .about .about-container h2 {
        font-size: 1.5rem;
    }
    #about-us .about .about-container p {
        font-size: 1rem;
    }
    #remember .heading h1 {
        font-size: 1.5rem;
    }
    #remember .heading p {
        font-size: 1rem;
    }
    #remember .remember-container .product {
        margin-left: 0px;
    }
    #shop .bg,
    #shop .bg .bg-shadow {
        height: 250px;
    }
    #shop .bg .bg-shadow .heading h1 {
        font-size: 2rem;
        text-align: center;
    }
    #shop .shop-container .product {
        margin-left: 0px;
    }
    #shop .shop-container .product,
    #shop .shop-container img {
        width: 300px;
    }
    .grid-container {
        margin-top: 0px;
        padding: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    td {
        padding: 5px 8px;
        font-size: 12px;
    }
    .cart {
        justify-content: center;
        margin-right: 0px;
    }
    .change,
    .remove {
        width: 45px;
        font-size: 12px;
        margin-right: 0px;
    }
    .change {
        margin-left: 5px;
    }
    td.buttons {
        display: inline-block;
    }
    input[type="number"] {
        width: 30px;
    }
    .checkout {
        border-radius: 10px;
    }
    #order .bg,
    #order .bg .bg-shadow {
        height: 250px;
    }
    #order .bg .bg-shadow .heading h1 {
        font-size: 2rem;
        text-align: center;
    }
    #order .order-form form {
        width: 350px;
        padding: 0px 8px;
    }

    #order .order-form form input[type="submit"],
    #order .order-form form input[type="reset"] {
        margin-top: 10px;
        font-size: 14px;
        width: 100px;
    }
    #about-us .container .row div.card-text {
        margin-top: 5px;
        gap: 20px;
    }
    #about-us .container .row div.card-text form {
        margin-left: 10px;
    }
}
